{% extends 'base.html' %}

{% block content %}
    <div class="container page">
        <div class="auth">
            <div class="auth__card">
                <div class="auth__bar">
                    <span class="auth__dot"></span>
                    <span class="auth__dot"></span>
                    <span class="auth__dot"></span>
                    <span class="auth__title">{% block auth_call %}auth.module{}(){% endblock auth_call %}</span>
                </div>
                <div class="auth__body">
                    {% block auth_body %}{% endblock auth_body %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}