{% extends 'registration/_auth_base.html' %}

{% block title %}Logged out · Build&Tell{% endblock title %}

{% block auth_title %}Logged out{% endblock auth_title %}

{% block auth_body %}
    <div class="auth__done">
        <div class="notice notice--success">
            <p class="notice__title">You are now logged out.</p>
            <p class="notice__text">Return any time to pick up where you left off.</p>
        </div>
        <div class="form__actions">
            <a class="btn btn--primary" href="{% url 'login' %}">Log back in</a>
            <a class="btn btn--ghost" href="{% url 'projects:project_list' %}">Projects</a>
        </div>
    </div>
{% endblock auth_body %}