{% extends 'registration/_auth_base.html' %}

{% block title %}change password · Build&Tell{% endblock title %}

{% block auth_call %}
    <span class="create__fn">user</span><span class="create__callee">.password_change()</span>
{% endblock auth_call %}

{% block auth_body %}
    <form class="form" method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form__errors">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
            <div class="form__field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form__field-errors">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                    <div class="auth__helptext">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form__actions">
            <button type="submit" class="btn">change password &nearr;</button>
        </div>
    </form>
{% endblock auth_body %}