{% extends 'registration/_auth_base.html' %}

{% block title %}Password reset · Build&Tell{% endblock title %}

{% block auth_title %}Password reset complete{% endblock auth_title %}

{% block auth_body %}
    <div class="auth__done">
        <div class="notice notice--success">
            <p class="notice__title">You can now sign in.</p>
            <p class="notice__text">Use the new password you just set.</p>
        </div>
        <div class="form__actions">
            <a class="btn btn--primary" href="{% url 'login' %}">Log in</a>
        </div>
    </div>
{% endblock auth_body %}