{% extends 'registration/_auth_base.html' %}

{% block title %}password reset · Build&Tell{% endblock title %}

{% block auth_call %}
    <span class="create__fn">user</span><span class="create__callee">.password_reset()</span>
    <span class="create__arg">// complete</span>
{% endblock auth_call %}

{% block auth_body %}
    <div class="auth__done">
        <p class="auth__code"><span class="auth__ok">&gt;</span> password reset complete</p>
        <p class="auth__hint">You can now sign in with your new password.</p>
        <div class="form__actions">
            <a class="btn" href="{% url 'login' %}">log in &nearr;</a>
        </div>
    </div>
{% endblock auth_body %}